body{
    margin: 0;
    min-width: 300px;
    text-align: center;
    background-color: rgb(119, 136, 153);
}

h1{
    color: rgb(75, 0, 130);
    font-size: 50px;
}

input{
    padding: 10px;
    width: 32%;
    border: none;
    font-size: 14px;
    background-color: rgb(220, 220, 220)
}

#push{
    width: 8%;
    height: 36px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(72, 61, 139);
    color: white;
    text-align: center;
    font-size: 14px;
    border: none;
}

#push:hover{
    background-color: black;
}

#tasks{
    text-align: start;
    width: 40%;
    margin-left: 30%;
    padding: 10px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

img{
    width: 10px;
    height: 10px;
    text-align: center;
}

.completed{
    text-decoration: line-through;
}